@import 'tailwindcss';

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    background-color: rgb(255 255 255);
    color: rgb(17 24 39);
  }

  html.dark {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }

  body {
    background-color: rgb(255 255 255);
    color: rgb(17 24 39);
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  html.dark body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }

  #root {
    background-color: rgb(255 255 255);
    color: rgb(17 24 39);
    min-height: 100vh;
  }

  html.dark #root {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
}
