@import 'tailwindcss';
@plugin 'daisyui';

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Use DaisyUI CSS variables for theme colors */
  html {
    background-color: hsl(var(--b1));
    color: hsl(var(--bc));
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
  }

  #root {
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
  }
}
